<div class="welcome-slides">
    <div class='slideshow-container'>
        <div class='Slides fade'>
            <img src='/images/Slides/slide1.png' class='slide-images'>
        </div>
        <div class='Slides fade'>
            <img src='/images/Slides/slide2.png' class='slide-images'>
        </div>
        <div class='Slides fade'>
            <img src='/images/Slides/slide3.png' class='slide-images'>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class='dots' style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
    </div>

    <div class='welcome-message'>
        <div class='bg-welcome'>
            <div class='header'>
                <h3>Welcome</h3>
            </div>
            <div class='body'>
                <p>
                    <span class='logo'>
                        <span style='color:#D03175;'>
                            Craft</span>olio
                    </span> 
                    was created as a project for my University. It is a place where artists of all kinds, can come together to post their portfolios and get opinions and tips from other artists
                </p>
            </div>
            <a href='/profiles' class='starting-btn'>View Profiles</a>
        </div>
    </div>
</div>

<script>
    var slideIndex = 1;

    function plusSlides(n){
        showSlides(slideIndex += n);
    }

    function currentSlide(n){
        showSlides(slideIndex = n);
    }

    function showSlides(n){
        var i;
        var slides = document.getElementsByClassName("Slides");
        var dots = document.getElementsByClassName("dot");
        if(n>slides.length){slideIndex = 1;}
        if(n < 1){slideIndex = slides.length}
        for(i=0;i<slides.length;i++){
            slides[i].style.display = "none";
        }
        for(i=0;i<dots.length;i++){
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

    $(document).ready(function(){
        var slideIndex = 1;
        showSlides(slideIndex);
    });
</script>