<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<div class="body-contact">
    <div class="contact-title">
        <p>Contact Us</p>
    </div>
    <div class='contact-form'>
        <form action="/" method="POST">
            <div class="contact-text">E-mail:</div>
            <input name="email" type="email" required /> <br />

            <div class="contact-text" style="margin-top:10px;">Details:</div>
            <textarea name="text" cols='100' rows='15' style="resize: none;"></textarea>

            <input type="submit" value="Send Email" class="submit">
        </form>
    </div>
</div>