// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-info {
    margin-top: 30px;;
    left:0;
    width:100%;
    height: 270px;
    border-bottom: 4px solid #2D504C;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    display: inline-flex;
    margin-bottom: 5px;
}

.profile-info .pic {
    margin-right: 15px;
    // overflow: hidden;
    
}

.pic img{
    border-radius: 100%;
}

.profile-info .profile-description {
    margin-top: -36px;
    height: 256px;
}

.profile-info .profile-description .names {
    font-size: 2em;
    font-weight: bold;
}

.profile-info .profile-description .username {
    margin-top: -26px;
    font-size: 20px;
}

.profile-info .profile-description .bio {
    height: 130px;
    max-width: 450px;
    word-break: break-word;
}

.edit-profile-button{
    text-decoration: none;
    color: #2D504C;
    font-weight: bold;
    background-color: white;
    padding: 10px 8px;
    border-radius: 10px;
}

.profile-info .profile-description .vl {
    float: left;
    border-left: 4px solid #2D504C;
    height: 256px;
}

.posts-section{
    text-align: center;
    width: 520px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.posts-section p{
    margin: 20px auto;
    font-size: 2em;
    border-bottom: 4px solid #2D504C;
    width: 150px;
}

.posts-section .post{
    margin-bottom: 30px;
}

.posts-section .post .post-title{
    font-size: 1.5em;
    font-weight: bold;
    background-color: #75BFBA;
    padding: 10px 0px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.posts-section .post .post-details{
    // height:0px;
    // transition:200ms;
    // opacity:0;
    display:none;
    background-color: #C6ECE7;
    padding: 10px 0px;
    margin-top: -4px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.posts-section .post .outter-wrapper{
    display: inline-block; 
    cursor: pointer;
}

.posts-section .post .outter-wrapper .post-pic{
    margin: 0px auto;
    width: 520px;
    height: 520px;
    background-color: #2D504C;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.posts-section .post .outter-wrapper  .post-pic .pic{
    max-width:512px;
    max-height:512px;
    display: block;
    margin: 0 auto;
}


.main {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    min-width: 700px;
    max-width: 1200px;
    background-color: #9bdbd7;
    padding-left: 30px;
    padding-right: 30px;
}

.profiles{
    margin-top: 100px;
    max-width: 1500px;
    min-width: 700px;
    margin: 0 auto;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 80px;
    height:80px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


.profile-case{
    display: flex;
    align-items: center;
    background-color: #54a19c;
    padding: 15px;
    border-radius: 13px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.small-credentials{
    margin: 0 15px;
    width: 200px;
}

.small-pic img{
    border-radius: 35px;
}

.small-images{
    border: 2px solid #D03175;
    flex-grow:1;
    max-width: 1000px;
}

.profile-cases{
    margin: 0 40px;
    margin-top: 40px;
    justify-content: center;
}

.view-profile{
    border-radius: 7px;
    padding: 12px 10px;
    margin: 0 auto;
    text-decoration: none;
    background-color: #75BFBA;
    color: #2D504C;
    box-shadow: 0px 0px 5px .1px rgb(0, 0, 0);
}

.view-profile:hover{
    background-color: #5caaa5;
}

#lightbox{
    position:fixed;
    z-index:100;
    top:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,.8);
    display:none;
}

#lightbox.active{
    display:flex;
    justify-content: center;
    align-items: center;
}

#lightbox .outerimg-active{
    width: 35%;
    height: 70%;
    display: flex;
    text-align: center;
    vertical-align: middle;
    background-color: #264d4a4b;
}

#lightbox img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    text-align: center;
    margin: auto;
}

.activeDescription{
    height: 70%;
    width: 500px;
    background-color: #75BFBA;
}

.activeDescription h1{
    text-align: center;
    margin: 0;
    padding: 20px 0;
    background-color: #5aa09b;
}

.activeDescription p{
    text-align:center;
    padding-bottom: 30px;
    border-bottom: 1px solid #2D504C;
}
.comment-box-outer{
    margin: 0 auto;
    align-items: center;
    width: 85%;
    overflow-x: hidden; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column-reverse;
    height: 500px;
    .comment-box{
        width: 100%;
        .comment-indv{
            width: 100%;
            background-color: #5aa09b;
            padding: 5px 3px;
            a{
                text-decoration: none;
                color: #2D504C;
            }
            .comment-head{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #2D504C;
                .comment-title{
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            margin-bottom: 20px;
        }
    }
}

.new-post-form{
    background-color: #2D504C;
    color: #5aa09b;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
}

.post-form-title{
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 7px;
}